<div class="form-body">
    <form class="user-form">
        <h2>Usuário</h2>
        <label class="user-label">Nome</label>
        <input type="text" name="name" class="user-input"/>
        <label class="user-label">Nome de usuário</label>
        <input type="text" name="username" class="user-input"/>
        <label class="user-label">E-mail</label>
        <input type="text" name="email" class="user-input"/>
        <label class="user-label">Telefone</label>
        <input type="text" name="phone" class="user-input"/>
        <label class="user-label">Site</label>
        <input type="text" name="website" class="user-input"/>
        <button type="submit" class="btn-user-confirm">Confirmar</button>
    </form>
</div>