<h2 class="title">Lista de usuários</h2>
<table class="table">
    <thead>
        <tr>
            <th class="table-header">Nome</th>
            <th class="table-header">Nome de usuário</th>
            <th class="table-header">E-mail</th>
            <th class="table-header">Telefone</th>
            <th class="table-header">Site</th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" class="table-row"> 
            <td class="table-data">{{user.name}}</td>
            <td class="table-data">{{user.username}}</td>
            <td class="table-data">{{user.email}}</td>
            <td class="table-data">{{user.phone}}</td>
            <td class="table-data">{{user.website}}</td>
            <td><button class="button btn-details">Detalhes</button></td>  
            <td><button class="button btn-edit">Editar</button></td>  
            <td><button class="button btn-delete">Excluir</button></td>          
        </tr>
    </tbody>
</table>