.form-body{
    width: 100%;
    background-color: white;
}

.form-body h2{
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 2%; 
}

.user-form{
    
    width: 50%;
    padding: .5% 1%;
    margin: 0 auto;
}

.user-label{
    padding: 0 2%;
    font-weight: bold;
}

.user-input{
    width: 100%;
    padding: 2% 1%;
    margin: .5% 1%;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-user-confirm{
    width: 100%;
    margin: 1% 1%;
    padding: .25em 1.5em;
    border-radius: 2px;
    border: none;
    background-color: transparent; 
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: #42A948;    
}

.btn-user-confirm:disabled{
    background-color: #d9d9d9;   
}

.ng-valid[required], .ng-valid.required  {
   border-left: 15px solid #42A948;
}
  
.ng-invalid:not(form)  {
   border-left: 15px solid #a94442;
}